<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/style.css' />
  </head>
  <body>
    <header>
      <img src="/icon.png" alt="">
      <nav>
        <ul>
          <li><a href="/">All reviews</a></li>
          <li><a href="/reviews/add">Add a review</a></li>
          <li><a href="/reviews/mine">My Reviews</a></li>
        </ul>
      </nav>
    </header>

    <div class="container">
      {{{body}}}
    </div>
  </body>
</html>


<p>Your session's total page visits: {{timesAccessed}}</p>
